<a href="https://colab.research.google.com/github/wnyngj/DT-/blob/main/20231127.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##자료형

In [1]:
# Q. "TitanicJames" 변수를 영화제목(title)과 감독(director)으로 슬라이싱 해보세요.

movie='TitanicJames'

title=movie[0:7]
dir=movie[7:13]

title,dir

('Titanic', 'James')

In [2]:
#f-string 문법
name='david'
age=30
city='seoul'

print(f"이름:{name}, 나이:{age}, 사는 곳:{city}")

이름:david, 나이:30, 사는 곳:seoul

In [6]:
#3 리스트형 List
# 변수를 한 곳에 담아두기 위함
data=['a','b','c']
data

#indexing & slicing
data[2]
data[0:2]

data=['a','b','c',['d','e']]
#divide and conquer
data[3][0]

'd'

In [8]:
#4 bool형
# True or False

type(True)
1<5

#1+'1' 문자열과 숫자형 연산 불가 둘 중 하나를 선택하기

True

##제어문

1. if 제어문
2. for 반복문

In [10]:
#if 조건문
#만약에...

a=11

if a<5:
  print("숫자가 5보다 작습니다")
elif a<10:
  print("숫자가 10보다 큽니다")
else:
  print('숫자가 10보다 큽니다')

숫자가 10보다 큽니다

In [12]:
a=1
a==2
a!=2

True

In [13]:
from ast import MatchSingleton
# 서울에서 부산을 간다고 가정하에 나의 주머니에 있는
# 돈(money)에 따른 조건문

# if => 7만원 있으면 비행기를 타고 (money==70000))
# elif => 5만원 있으면 기차를 타고
# elif => 3만원 있으면 버스를 타고
# else => 걸어간다.

money=60000
if money==70000:
  print('비행기 타기')
elif money>50000:
  print('기차 타기')
elif money>30000:
  print('버스 타기')
else:
  print('걸어가기')

#강사님 답안
money=int(input("현재 주머니가 얼마가 있으십니까?"))
card=True

if money == 70000 or card==True:
  print("비행기를 타시오.")
elif money==60000:
  print("기차를 타시오")
elif money == 30000:
  print("버스를 타시오.")
else:
  print("걸어가시오.")

기차 타기

In [ ]:
#for (반복문)
#range(10): 0부터 9까지의 숫자를 의미합니다

for i in range(10):
  print("hello python", i)
for i in range(1,9):
  print("hello python", i)

cities=['seoul','dajeon','daegu','busan']
for i in cities:
  if i=='seoul':
    print("남산타워에 가보세요")

In [ ]:
for i in "python":
  print(i)
else:
  print("반복문이 종료되었습니다.")

In [24]:
#break & continue
for i in range(10):
  if 3<=i<=5:
    print("조건문",i)
    #break #반복문을 종료시켜
    continue #해당 반복문은 여기까지만 실행해줘 그리고 다음 반복문 횟수로 넘어가
  print(i)

0
1
2
조건문 3
조건문 4
조건문 5
6
7
8
9

In [ ]:
#구구단 전체를 표현하시오
#유저가 입력한 특정 구구단을 표현하시오
for i in range(1,10):
  print(i,'단 입니다.')
  for j in range(1,10):
    print(f"{i}*{j}={i*j}")

In [ ]:
num=int(input("단을 입력하시오: "))

for i in range(1,10):
  print(i,'단 입니다.')
  if num==i:
    for j in range(1,10):
     print(f"{i}*{j}={i*j}")
    break

##파이썬의 내장함수 & 외장함수

In [ ]:
#내장함수: 파이썬에 기본적으로 포함이 되어있는 함수
int('123')
str()
len('hello') #length
#구글에 python built in functions 쳐서 내장함수 확인하기

#외장함수: 외부에서 불러와서 사용하는 함수 => import

import sys
if sys.version < 3.10: #업데이트 버전
  print('업데이트를 진행하세요.')
import os #os: operation system
os.getcwd()
os.mkdir('new_folder')

In [36]:
import time
time.time() #1701070656.8930387
time.localtime(time.time()) #콜랩의 서버시간 = 미국

time.struct_time(tm_year=2023, tm_mon=11, tm_mday=27, tm_hour=7, tm_min=38, tm_sec=9, tm_wday=0, tm_yday=331, tm_isdst=0)